<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict><key>unaPalabra</key><string>Apple</string></dict>
    <dict><key>unaPalabra</key><string>Smith</string></dict>
    <dict><key>unaPalabra</key><string>Arkansas</string></dict>
    <dict><key>unaPalabra</key><string>John@mail.com</string></dict>
    <dict><key>unaPalabra</key><string>Performance</string></dict>
    <dict><key>unaPalabra</key><string>Welcome</string></dict>
    <dict><key>unaPalabra</key><string>Linux</string></dict>
    <dict><key>unaPalabra</key><string>Zoo</string></dict>
    <dict><key>unaPalabra</key><string>Magazine</string></dict>
    <dict><key>unaPalabra</key><string>Customers</string></dict>
    <dict><key>unaPalabra</key><string>Walmart</string></dict>
    <dict><key>unaPalabra</key><string>Games</string></dict>
    <dict><key>unaPalabra</key><string>Parents</string></dict>
    <dict><key>unaPalabra</key><string>Guide</string></dict>
    <dict><key>unaPalabra</key><string>University</string></dict>
    <dict><key>unaPalabra</key><string>Favorites</string></dict>
    <dict><key>unaPalabra</key><string>Newsletter</string></dict>
    <dict><key>unaPalabra</key><string>September</string></dict>
    <dict><key>unaPalabra</key><string>www.google.com</string></dict>
    <dict><key>unaPalabra</key><string>Extraordinary</string></dict>
    <dict><key>unaPalabra</key><string>Community</string></dict>
    <dict><key>unaPalabra</key><string>Shadow</string></dict>
    <dict><key>unaPalabra</key><string>Merchandise</string></dict>
    <dict><key>unaPalabra</key><string>Dictionary</string></dict>
    <dict><key>unaPalabra</key><string>Author</string></dict>
    <dict><key>unaPalabra</key><string>Brought</string></dict>
    <dict><key>unaPalabra</key><string>Christmas</string></dict>
    <dict><key>unaPalabra</key><string>Post-it</string></dict>
    <dict><key>unaPalabra</key><string>Construction</string></dict>
    <dict><key>unaPalabra</key><string>Double</string></dict>
    <dict><key>unaPalabra</key><string>Experience</string></dict>
    <dict><key>unaPalabra</key><string>Follow</string></dict>
    <dict><key>unaPalabra</key><string>Grateful</string></dict>
    <dict><key>unaPalabra</key><string>Hockey</string></dict>
    <dict><key>unaPalabra</key><string>Hundred</string></dict>
    <dict><key>unaPalabra</key><string>Impossible</string></dict>
    <dict><key>unaPalabra</key><string>January</string></dict>
    <dict><key>unaPalabra</key><string>50360</string></dict>
    <dict><key>unaPalabra</key><string>Journey</string></dict>
    <dict><key>unaPalabra</key><string>Knife</string></dict>
    <dict><key>unaPalabra</key><string>Lawyer</string></dict>
    <dict><key>unaPalabra</key><string>Measure</string></dict>
    <dict><key>unaPalabra</key><string>Nuclear</string></dict>
    <dict><key>unaPalabra</key><string>Orchestra</string></dict>
    <dict><key>unaPalabra</key><string>Payment</string></dict>
    <dict><key>unaPalabra</key><string>Puzzle</string></dict>
    <dict><key>unaPalabra</key><string>Restaurant</string></dict>
    <dict><key>unaPalabra</key><string>Seriously</string></dict>
    <dict><key>unaPalabra</key><string>Throat</string></dict>
    <dict><key>unaPalabra</key><string>Triumph</string></dict>
    <dict><key>unaPalabra</key><string>12523</string></dict>
    <dict><key>unaPalabra</key><string>Underground</string></dict>
    <dict><key>unaPalabra</key><string>Vegetable</string></dict>
    <dict><key>unaPalabra</key><string>Vertical</string></dict>
    <dict><key>unaPalabra</key><string>Verb</string></dict>
    <dict><key>unaPalabra</key><string>Vocabulary</string></dict>
    <dict><key>unaPalabra</key><string>Weather</string></dict>
    <dict><key>unaPalabra</key><string>Weight</string></dict>
    <dict><key>unaPalabra</key><string>Xerox</string></dict>
    <dict><key>unaPalabra</key><string>Yesterday</string></dict>
    <dict><key>unaPalabra</key><string>Zero</string></dict>
</array>
</plist>
